################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/проэкт 1 (холодильник)/.vs/проэкт 1 (холодильник)/v16/Server/sqlite3
/проэкт 1 (холодильник)/.vs/проэкт 1 (холодильник)/v16/.suo
*.cache

